C:\Windows\System32\terraform.exe
E:\Projects\Terraform\JagTestLab01\JagTestLab01\.terraform\providers\registry.terraform.io\hashicorp\azurerm\2.47.0\windows_amd64\terraform-provider-azurerm_v2.47.0_x5.exe
E:\Projects\Terraform\JagTestLab01\JagTestLab01\.terraform\providers\registry.terraform.io\hashicorp\azurerm\2.31.1\windows_amd64\terraform-provider-azurerm_v2.31.1_x5.exe
